ul{
    position: absolute;
    right: 0;
}

.navbar-brand{
    background-color: teal;
    padding: 25px;
    font-size: 40px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
}

.nav-pills>li.nav-item>.active{
    background-color: teal;
    color: white;
}

a{
    color: teal;
}

.aboutme{
    background-color: white;
}
body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url('images/background.png');
    margin:  0;
}
.container{
    background-color: white;
}

hr{
    border-bottom: 2px solid teal;
}
img{
    width: 250px;
    height: 250px;
    border-radius: 10%;
    margin-right: 15px;
}
.biopic {
    float: left;
    margin: 25px;
}

.row{
    padding: 25px;
}


.footer{

    background: #666666;
    border-top: 3px solid teal;
    color: white;
    text-align: center;
    padding: 25px;
    
}

.image { 
    position: relative; 
    width: 100%;
 }
 
 h3 { 
    position: absolute;  
    left: 5px; 
    bottom: 5px;
    width: 100%; 
    background-color: teal;
    color: white;
    width: 250px;
 }

 .code-link{
     margin: 5px;
     padding: 2.5px;
     text-align: center;
 }